*,
*::after,
*::before {
    box-sizing: border-box;
    color: #f4f4f2;
}
#home {
    background-color: #f4f4f2;
    height: 100vh;
    text-align: center;
}

.navbar {
    background-color: #495464;
    height: 60px;
}

.navbar-brand {
    color: #f4f4f2;
}

.nav-link {
    color: #f4f4f2;
}

.brandname {
    position: relative;
    top: 18px;
    font-size: large;
    margin: 0;
}

.semibrand {
    position: relative;
    top: 13px;
    font-size: medium;
    margin-bottom: 0;
}
